{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="header">
        <h1>About Us</h1>
    </div>

    <h3>Hey! We're Amy and Sarah, the hearts and hands behind Wyldeflower Designs. As two busy mums navigating the whirlwind of parenthood, we know just how important it is to create warm, inviting spaces that reflect the love and laughter of family life. That's why we're so passionate about what we do—we're on a mission to sprinkle a little magic into your homes!</h3>

Our journey began with a shared love for crafting and a desire to bring a touch of elegance and charm into our own homes. Now, we're thrilled to share our passion with you! From whimsical wall prints to engaging activities, each of our designs is crafted with love and care. We pour our hearts into every piece, ensuring that it not only looks beautiful but also brings joy and inspiration into your daily life.

When you shop with us, you're investing in a piece of our story. We believe in the power of thoughtful design to transform spaces and create lasting memories. So whether you're sprucing up a nursery or adding a touch of elegance to your living room, we're here to help you every step of the way.

Thank you for inviting us into your homes and allowing us to be a part of your journey. From our family to yours, we can't wait to see how our designs bring joy and warmth into your lives.

With heartfelt thanks and warm wishes,
Amy & Sarah

    <div class="header">
        <h1>How It Works</h1>
    </div>
    <p>
    So, you've found something special in our shop and you're ready to bring it into your world. Here's what happens next:</p>

    <p>Browse & Select: Take your time browsing through our collection of delightful designs. Whether it's a cute birthday invitation or a heartwarming wall art print, find the perfect piece that speaks to you.</p>
    <p>Checkout & Download: Once you've made your selection, proceed to checkout. Don't worry, it's quick and easy! After completing your purchase, you'll receive a confirmation email with a link to download your digital file. No waiting around for shipping—your treasure is just a click away!</p>
    <p>Print & Enjoy: Now comes the fun part! You have the freedom to print your new treasure wherever and whenever you like. Whether it's from the comfort of your own home or through a professional printing service, the choice is yours. Get creative with different paper types and sizes to make it truly yours!</p>
    <p>Spread the Joy: Share the love with friends and family! Our designs are perfect for all occasions, from birthdays to baby showers. Plus, knowing that you've supported a small business run by two moms makes it all the more special.</p>
    <p>And that's it! Easy peasy, right? If you ever have any questions or need a little extra help, don't hesitate to reach out. We're here to make your experience with us as delightful as possible.</p>

    <p class="center">Happy shopping!</p>

    <p>Love,</p>
    <p><span class="handwriting">Amy & Sarah</span></p>

</div>
{% endblock %}