{% extends "base.html" %}
{% load static %}

{% block content %}



    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <h3>Subscribe <i class="fa-solid fa-envelope-open-text"></i></h3>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#subscribeModal">
                    Subscribe
                  </button>

            </div>
            <div class="col-md-4">
                <img src="#" alt="Free product of the month">
            </div>
            <div class="col-md-4">
                <p>Your free printable awaits. Why not sign up to receive this plus a new printable each month!</p>
            </div>
        </div>
    </div>

    <h2>View Most Recent Products</h2>
    <hr>

    <div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        {% for product in recent_products %}
                        <div class="col-md-3">      
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'product_detail' product.id product.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                                        </div>
                                        <small class="text-muted">Price: £{{ product.price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>     
    </div>
      

    <h2>View Most Popular Products</h2>
    <hr>

    <div class="container text-center my-3">
        <div class="row mx-auto my-auto justify-content-center">
            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        {% for product in most_viewed_products %}
                        <div class="col-md-3">      
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ product.images.first.image.url }}" alt="{{ product.name }}">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.name }}</h5>
                                    <p class="card-text">{{ product.description }}</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <a href="{% url 'product_detail' product.id product.slug %}" class="btn btn-sm btn-outline-secondary">View</a>
                                        </div>
                                        <small class="text-muted">Price: £{{ product.price }}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <a class="carousel-control-prev bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next bg-transparent w-aut" href="#recipeCarousel" role="button" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
        </div>     
    </div>

{% endblock %}