/* Global Variables */

:root {
    --pale: #F4E3CB;
    --orange: #D37C42;
    --pink: #E39D97;
    --yellow: #EBB975;
    --brown: #EBB975;
    --font-color: #37332D;
}

/* Fonts */

@font-face {
    font-family: 'Wedges';
    font-style: normal;
    src: local('Wedges'), url('../fonts/wedges.otf') format('opentype');
}

@font-face {
    font-family: 'Wedges Italic';
    font-style: normal;
    src: local('Wedges Italic'), url('../fonts/wedges-italic.otf') format('opentype');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
}

body {
    color: var(--font-color);
}

.wedges {
    font-family: 'Wedges';
}

.bold {
    font-weight: 700;
}

.banner {
    width: 100vw;
    height: auto;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.banner-div {
    position: relative;
}

.overlay {
    position: absolute;
    top: 60px;
    left: 25%;
    margin: 0 auto;
    width: 50%;
    background-color: color-mix(in srgb, var(--pale), transparent 25%);
    text-align: center;
    border: #37332D 2px solid;
    border-radius: 10% / 40%;
}

.navbar-toggler i {
    color: var(--font-color);
    font-size: 1.2rem;
}

.navbar-top {
    height: 40px;
    background-color: var(--pale);
}

.navbar-top a {
    margin-right: 10px;
}

.navbar-main {
    background-color: white;
}

.navbar a {
    color: var(--font-color);
}

.logo {
    height: 50px;
    width: auto;
}

footer {
    background-color: var(--brown);
}

.footer-links {
    padding-top: 5px;
}

.footer-hr {
    width: 60px; 
    background-color: #7c4dff; 
    height: 2px;
}

/* Alert */

.alert-fixed {
    position:fixed; 
    top: 100px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
}

/* Buttons */

.btn-black {
    background-color: black;
    color: var(--pale);
}

.increment-qty, .update-link, .remove-item {
    cursor: pointer;
}

.btn-black:hover, .btn-black:active, .btn-black:focus {
    background-color: var(--brown);
    color: var(--font-color);
}

/* Form */

/* Hide the default number input spin buttons */
.qty_input {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
    -moz-appearance: textfield; /* Firefox */
    appearance: none; /* General reset */
    
    /* Additional styles for appearance */
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.qty_input::-webkit-outer-spin-button,
.qty_input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Media Queries */

@media screen and (max-width: 900px) {
    .banner {
        height: 50vh;        
    }
}
